body{
	background-color: #1a1a1a;
	color: white;
}

.structure{
	padding-bottom: 10px;
}

header h1 {
	text-align: center;
	font-size: 400%;
}

header h2 {
	text-align: center;
	font-size: 200%;
}

nav {
	text-align: center;
}

nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li{
	display: inline;
}

nav ul li a{
	display: inline-block;
	text-align: center;
	background-color: yellowgreen;
	width: 120px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 25px;
}

nav ul li a:hover{
	color: black;
	background-color: green;
}

a {
	text-decoration: none;
	color: white;
}

section a {
	text-decoration: none;
	color: blue;	
}

footer a {
	text-decoration: none;
	color: blue;
}

section {
	text-align: center;
}


footer {
	text-align: center
}